<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <connectionStrings>
    <add name="LosPollosHermanos" connectionString="Server=tcp:iofc04t8tz.database.windows.net,1433;Database=LosPollosHermanos;User ID=pollos@iofc04t8tz;Password=Po1l0s#hermanos;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyServiceBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
   
    <services>
      <service name="LosPollosHermanos.Services.OrdersService">
        <endpoint address="net.tcp://localhost:8081/OrdersServices/"
                  behaviorConfiguration="MyServiceBehavior"
                  binding="netTcpBinding"
                  contract="LosPollosHermanos.ServiceContracts.IOrdersService" />
      </service>
      <service name="LosPollosHermanos.Services.ProductsService">
        <endpoint address="net.tcp://localhost:8081/ProductsService/"
                  behaviorConfiguration="MyServiceBehavior"
                  binding="netTcpBinding"
                  contract="LosPollosHermanos.ServiceContracts.IProductsService" />
      </service>
    </services>
  
  </system.serviceModel>

</configuration>