body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.cart { padding: 1em; background-color: #EEEEDD; border: 1px solid #CCC; max-width: 655px; }
.cart input { font-family: Arial; }
.cart b { font-weight: bold; }
.cart p { margin-top: 0.9em; margin-bottom: 0.9em; }
.cart select[multiple] { width: 100%; height: 8em; }
.cart h2 { margin-top: 0.4em; font-weight: bold; font-size: 1.2em; }

.cart th { text-align: left; font-weight: bold; }
.cart .price { text-align: right; padding-right: 2em; }
.cart .grandTotal { border-top: 1px solid silver; padding-top: 0.5em; font-size: 1.2em; }
.cart .grandTotal SPAN { font-weight: bold; }

.cart table, .liveExample td, .liveExample th { padding: 0.2em; border-width: 0; margin: 0; vertical-align: top; }
.cart td input, .liveExample td select { width: 8em; }
.cart td.quantity input { width: 4em; }
.cart td select { height: 1.8em; white-space: nowrap; }