<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="MyServiceBehavior">
        </behavior>
        <behavior name="sbTokenProvider">
          <transportClientEndpointBehavior>
            <tokenProvider>
              <sharedSecret issuerName="owner"
                            issuerSecret="oQeP70KVH+BFSiTB2GWpRAYaIo9qF11CUL6eudZF2tM=" />
            </tokenProvider>
          </transportClientEndpointBehavior>
        </behavior>

      </endpointBehaviors>
    </behaviors>

    <client>
      <!--<endpoint name="OrdersService"
                address="net.tcp://localhost:8081/OrdersServices/"
                behaviorConfiguration="MyServiceBehavior"
                binding="netTcpBinding"
                contract="LosPollosHermanos.ServiceContracts.IOrdersService" />-->
      <!--<endpoint name="ProductsService"
                address="net.tcp://localhost:8081/ProductsService/"
                behaviorConfiguration="MyServiceBehavior"
                binding="netTcpBinding"
                contract="LosPollosHermanos.ServiceContracts.IProductsService" />-->

      <endpoint address="sb://gwab-tokiota.servicebus.windows.net/ProductsService"
                behaviorConfiguration="sbTokenProvider"
                binding="netTcpRelayBinding"
                contract="LosPollosHermanos.ServiceContracts.IProductsService" />

    </client>

  </system.serviceModel>
</configuration>